
@font-face
{
    font-family: Roboto;
    src:url("fonts/Roboto-Light.ttf");
}

.body {
    margin: 0; padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.header
{
    border:10px solid red;
} 

.main
{
    padding: 20px;
    color: white;
    border: solid greenyellow;
    border-width: 5px 5px 0px 5px;
    background-color: rgb(171, 173, 174);
    height: auto;
    width: auto;
}

h1
{
    color: greenyellow;
}


pre
{
    float: right;
    color: black;
}

#foto
{
    
    padding-top: 50px;
    float: right;
    height: 35%;
    width: 35%;
}


.footer
{
    
    border: 5px solid greenyellow;
    padding: 20px;
    background-color: rgb(171, 173, 174);
} 

a.githublink
{
    
    padding-left: 25%;
    font-size: 30px;
    color: white;
}

a.githublink:hover
{
    color: greenyellow;
}

.rss_logo
{
    padding-right: 25%;
    float: right;
    width: 100px; 
}

